<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/styles.css' %}">
</head>

<body>
    <div class="container">

        <h1>Dashboard</h1>
        <form class="new-task-form" action="/api/tasks/" method="post" onsubmit="event.preventDefault();">
            <label>
                Name:
                <input type="text" name="name">
            </label>
            <label>
                Description:
                <input type="text" name="description">
            </label>
            <label>
                Estimate (in days):
                <input type="number" name="estimate" min="1" max="30" width="10">
            </label>
            <button class="btn-submit" type="submit">Add Task</button>
        </form>
    </div>

    <div class="task-column" id="planned">
        <div class="column-header">
            Planned
            <div class="total-estimate">Total days: {{ total_planned_days }}</div>
        </div>
        {% for task in planned_tasks %}
        <div class="task-card" draggable="true" id="{{ task.id }}">
            <div class="task-card-header">
                <strong>{{ task.name }}</strong>
                <button class="btn-delete" type="button" data-task-id="{{ task.id }}">X</button>
            </div>
            <div class="task-card-body">
                {{ task.description }} ({{ task.estimate }} days)
            </div>
        </div>
        {% empty %}
        <div>No planned tasks</div>
        {% endfor %}
    </div>
    <div class="task-column" id="in-progress">
        <div class="column-header">
            In Progress
            <div class="total-estimate">Total days: {{ total_in_progress_days }}</div>
        </div>
        {% for task in in_progress_tasks %}
        <div class="task-card" draggable="true" id="{{ task.id }}">
            <div class="task-card-header">
                <strong>{{ task.name }}</strong>
                <button class="btn-delete" type="button" data-task-id="{{ task.id }}">X</button>
            </div>
            <div class="task-card-body">
                {{ task.description }} ({{ task.estimate }} days)
            </div>
        </div>
        {% empty %}
        <div>No tasks in progress</div>
        {% endfor %}
    </div>
    <div class="task-column" id="completed">
        <div class="column-header">
            Completed
            <div class="total-estimate">Total days: {{ total_completed_days }}</div>
        </div>
        {% for task in completed_tasks %}
        <div class="task-card" draggable="true" id="{{ task.id }}">
            <div class="task-card-header">
                <strong>{{ task.name }}</strong>
                <button class="btn-delete" type="button" data-task-id="{{ task.id }}">X</button>
            </div>
            <div class="task-card-body">
                {{ task.description }} ({{ task.estimate }} days)
            </div>
        </div>
        {% empty %}
        <div>No completed tasks</div>
        {% endfor %}
    </div>

    <script src="{% static 'dashboard/scripts.js' %}"></script>
</body>

</html>